body{
	margin: 100;
	background-color: #666;

}

h1, h2, h3, h4, h5, p, span{
	margin: 0;
	color: red; /* cor zinzenta */
}

.conteiner {
	max-width: 1920px;
	width: 100%;
}

/* header */

header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

 /* Div */

div{
	position: relative;
	top: 50%;
	width: 50%
	height: 50%;
}

form{
	margin: 0;
}


